<% include partials/header.ejs %>
    <% include partials/menu.ejs %>
        <div class="container sectionAnnounce d-flex flex-row">
            
          
                <div class="flex-column blocAnnounce col-md-8 col-xs-12"> 
                    <div class="p-2"> <h2><%= title_name %></h2></div>
                    <div class="p-2"><img class="img-fluid" src='/uploads/<%= photo_url %>' alt='photo' /></div> 
                    <div class="p-2"><%= nick_name%></div>
                    <div class="p-2"><%= price %></div>
                    <div class="p-2"> <%= city %></div>
                    <div class="p-2"> <%= description %></div>
                </div>     
                   
           
                    <div class="flex-column align-self-start announceDetails col-md-4 col-xs-12">  
                    <div class="p-2"><%= nick_name%></div>
                    <div class="p-2"><%= phone_number %></div>
                     
            </div>
         </div>

        <% include partials/footer.ejs %>