<% include partials/header.ejs %>
    <% include partials/menu.ejs %>
        <div class="container">
            <div class="row sectionAnnounce">
                <div class="blocAnnounce col-md-7">
                    <div class="col-md-12">
                        <h2>
                            <%= title_name %>
                        </h2>
                        <div class="center blocImg">
                            <img class="img-fluid" src='/uploads/<%= photo_url %>' alt='photo' />
                        </div>
                        <div class="row borderBoxTop">
                            <div class="col-md-12 pseudo">
                                <p>
                                    <%= nick_name%>
                                </p>
                                <p>Created on
                                    <%= publish_date%>
                                </p>
                            </div>
                        </div>
                        <div class="row borderBoxTop">
                            <div class="col-md-2 bgBloc">Prix</div>
                            <div class="col-md-10">
                                <p>
                                    <%= price %>
                                </p>
                            </div>
                        </div>
                        <div class="row borderBoxTop borderBoxBottom">
                            <div class="col-md-2 bgBloc">Ville</div>
                            <div class="col-md-10">
                                <p>
                                    <%= city %>
                                </p>
                            </div>
                        </div>
                        <div class="description">Description
                            <p>
                                <%= description %>
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 sidebar center">
                    <div class="row announceDetails ">
                        <div class="bgName">
                            <span class="p-2 center">
                                <%= nick_name%>
                            </span>
                        </div>
                        <div class="p-2 center mx-auto">
                            <button type="button" class="btn btnNumber">Voir le numéro</button>
                        </div>
                        <!--  <div class="p-2 replacePhoneNumb center">
                                        <%= phone_number %>
                                    </div> -->
                    </div><!-- end announceDetails -->
                    <div class="row announceModify">
                        <div class="bgName">
                            <span class="p-2 center">
                                 Modifier l'annonce
                            </span>
                        </div>
                        <div class="p-2 center mx-auto">
                            <a class="btn btnModify" href="/deposer/<%=_id %>" role="button">Modifier</a>
                            <a class="btn btnDelete" href="/deposer/<%=_id %>" role="button">Supprimer</a>
                        </div>    
                    </div><!-- end announceModify -->
                </div><!-- end sidebar -->

            </div>
        </div>

        <% include partials/footer.ejs %>